modules = ["python-3.11"]
[agent]
expertMode = true
integrations = ["python_database:1.0.0"]

[nix]
channel = "stable-25_05"
packages = ["freetype", "git", "glibcLocales", "lcms2", "libffi", "libimagequant", "libjpeg", "libpng", "libpq", "libtiff", "libwebp", "libxcrypt", "libxml2", "libxslt", "nodejs", "openjpeg", "postgresql", "tcl", "tk", "wkhtmltopdf", "xcodebuild", "zlib"]
